@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-placeholder::placeholder {
    color: rgb(96 149 246);
    opacity: 1; /* Firefox */
}
.custom-placeholder:-ms-input-placeholder,
.custom-placeholder::-ms-input-placeholder{
    color: rgb(96 149 246);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rgb(243 244 246);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(209 213 219);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(107 114 128);
}
[x-cloak] { display: none !important; }